<div class="message">
    <h2>{{message}}</h3> <br/>
            
            <img class="media" src="https://media.giphy.com/media/hvWDIIcbeO5Fe/giphy.gif"><br/><br/><br/>
     
    <a class="btn btn-lg btn-primary" href="/" role="button">Back</a>
</div>