<div class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div id="jumbo-top">
            <h1 id="jumbo-header">Mongo NY Times Scraper</h1>
            <p id="jumbo-p">This app will scrape the top stories from NYT and allowed you
                <br/>to take notes for articles that you have saved</p>

            <br/>
            <form>
                <a class="btn btn-lg btn-primary" href="/scrape" role="button">Scrape Articles &raquo;</a>
            </form>
            </p>
        </div>
    </div>
    <!-- End of Jumbotron -->

<div class="story-body" id="5a374e630f2f393b59bb8ac6">
    <h2>
        <a href="https://www.nytimes.com/slideshow/2017/12/16/world/europe/a-chateau-fit-for-a-crown-prince.html" target="_blank">A Chateau Fit for a Crown Prince</a>
        <form action="/save/5a374e630f2f393b59bb8ac6" method="POST">
            <button type="submit" class="status btn btn-lg btn-primary" value="Save Article">Save Article</button>
            <button type="button" class="addnote-button btn btn-lg btn-primary" value="5a374e630f2f393b59bb8ac6" href="#note-displayer">Add A Note</button>
        </form>
    </h2>
    <summary>Crown Prince Mohammed bin Salman, heir to the Saudi throne, who is leading a crackdown on corruption by the Saudi elite,
        bought the lavish Château Louis XIV.</summary>
    <img class="media" src="https://static01.nyt.com/images/2017/12/17/world/europe/17CHATEAU-slide-TDMK/17CHATEAU-slide-TDMK-mediumThreeByTwo210.jpg">
</div>