<div class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div id="jumbo-top">
            <h1 id="jumbo-header">Mongo NY Times Scraper</h1>
            <p id="jumbo-p">This app will scrape the top stories from NYT and allowed you
                <br/>to take notes for articles that you have saved</p>

            <br/>
            <form>
                <a class="btn btn-lg btn-primary" href="/scrape" role="button">Scrape Articles &raquo;</a>
            </form>
            </p>
        </div>
    </div>
    <!-- End of Jumbotron -->

    <div class="message">
        <h2>{{message}}</h3>
            <br/>
            <img class="media" src="https://media.giphy.com/media/tXL4FHPSnVJ0A/giphy.gif">
    </div>